.content {
	padding: 20px;
	max-width: 960px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.card-title {
	font-weight: bold;
}
.pagination-sm .page-link {
	padding: 0.5rem 0.75rem;
}
