:root {
    --sBlue: #1c3664;
}
.bg-sBlue {
    background-color: var(--sBlue);
}

.content {
    padding: 20px;
}
.card-title {
    font-weight: bold;
}
.pagination-sm .page-link {
    padding: 0.5rem 0.75rem;
}

.link-arrow:hover {
    opacity: 0.6;
    cursor: pointer;
}
.infoGiver {
    position: fixed;
    bottom: 0%;
    right: 2%;
}
.topImage {
    width: 100%;
    height: 12rem;
    overflow: hidden;
    object-fit: cover;
}
.infoLabel {
    font-size: 1.3rem;
}
